/* CSS Document */
a {color:#ccc;text-decoration:none;}
a:hover {color:#ccc;text-decoration:none}

#tabMenu {margin:0;padding:0 0 0 15px;list-style:none;}
#tabMenu li {float:left;height:32px;width:150px;cursor:pointer;cursor:hand}

li.comments {background:url(../images/tabJobseekers.png) no-repeat 0 -32px;}
li.posts {background:url(../images/tabAll.png) no-repeat 0 -32px;}
li.category {background:url(../images/tabEmployers.png) no-repeat 0 -32px;}
li.famous {background:url(../images/tabRecruiters.png) no-repeat 0 -32px;}
li.random {background:url(../images/tabRandom.png) no-repeat 0 -32px;}

li.mouseover {background-position:0 0;}
li.mouseout {background-position:0 -32px;}
li.selected {background-position:0 0;}

.box {width:650px}
.boxTop {background:url(../images/boxTop.png) no-repeat;height:11px;clear:both}
.boxBody {background-color:#009ec3;}
.boxBottom {background:url(../images/boxBottom.png) no-repeat;height:11px;}

.boxBody div.parent {display:none;}
.boxBody div.show {display:block;}

.boxBody div ul {margin:0 10px 0 25px;padding:0;width:610px;list-style-image:url(images/arrow.gif)}
.boxBody div li {border-bottom:1px dotted #ffffff; padding:4px 0;cursor:hand;cursor:pointer}
.boxBody div ul li.last {border-bottom:none}
.boxBody div li span {font-size:8px;font-style:italic; color:#888;}
#posts > ul > li {font-family:verdana;font-size:10px;color:#ffffff;}
#comments > ul > li {font-family:verdana;font-size:10px;color:#ffffff;}
#category > ul > li {font-family:verdana;font-size:10px;color:#ffffff;}
#famous > ul > li {font-family:verdana;font-size:10px;color:#ffffff;}