/* CSS Document */

li.info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#009ec3;
    color:#ffffff;
    text-decoration:none}

li.info:hover{z-index:25; background-color:#ccc}

li.info span{display: none}

li.info:hover span{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:-10px;
	left:220px;
	width:500px;
	border:1px solid #363a3a;
	background-color:#000000;
	color:#ffffff;
	text-align: center;
	font-size:11px;
	font-weight:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	padding:10px;
	line-height: 15px;
	text-align:justify;
	}